<div class="home">
  <div class="circle-wrapper">
    <div class="titles">
      <h1>Pietro Antonio Nini</h1>
      <h2>Full-Stack Web Developer</h2>
  
      <button class="button btn btn-outline-light" (click)="onClickGoToProjects()">
        Progetti
      </button>
    </div>
    
    <app-rotating-logos></app-rotating-logos>
    <div class="social">
      <a href="https://www.linkedin.com/in/pietro-antonio-nini-2061241a9/">
        <img src="assets/image/Logo-LinkedIn-3D.png" alt="" draggable="false">
      </a>
      <a href="https://github.com/PietroAntonioNini">
        <img src="assets/image/Github-logo-3D.png" alt="" draggable="false">
      </a>
    </div>
  </div>

</div>
