<section class="technlogies mb-0">
  <div class="container pt-3 d-flex flex-column align-items-start justify-content-between">
    <div class="col-12 text-center">
      <h1 class="fs-2">Tecnologie Utilizzate</h1>
    </div>
    <div class="col-12 pt-3">
      <ul
        class="d-flex flex-wrap justify-content-center align-items-center list-unstyled gap-5 mb-0 text-uppercase pt-4 rounded-2"
      >
        <li *ngFor="let logo of logos">
          <a [href]="logo.link" draggable="false">
            <img
              [src]="logo.src"
              [alt]="logo.src"
              draggable="false"
              class="logo"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
