<ng-container *ngIf="!isLoading; else loading">
  <app-main [projects]="projects"></app-main>

  <div class="container py-3">
    <router-outlet></router-outlet>
  </div>

  <div class="container d-flex justify-content-center flex-wrap">
    <img class="saturno" src="assets/image/Saturno.png" alt="saturno">

    <!-- Pagina e comandi di paginazione -->
    <ul class="pagination d-flex justify-content-center p-0 m-0 gap-2">
      <li>
        <button class="btn" (click)="changePage('prev')">Prev</button>
      </li>
      <li>
        <button class="btn" (click)="changePage('next')">Next</button>
      </li>
    </ul>
  </div>
  <hr>

  <app-technologies-item></app-technologies-item>
</ng-container>

<ng-template #loading>
  <div class="d-flex justify-content-center my-loader">
    <div class="loader"></div>
  </div>
</ng-template>
