.card {
  width: 18rem;

  @media (max-width: 768px) {
    width: 22rem;
  }

  background: linear-gradient(0deg, #41485500 0%, rgb(95, 86, 103) 100%);
  backdrop-filter: blur(2px);
  box-shadow: 0 7px 20px 5px #00000048;
  position: relative;

  .img-container {
    max-width: 400px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
