<li class="card p-2" style="width: 18rem;">
  <div class="img-container">
    <!-- Se usi un proxy per le immagini, adatta la stringa qui -->
    <img [src]="project.image" class="card-img-top" alt="image">
  </div>
  <div class="card-body p-4 d-flex flex-column justify-content-between">
    <div class="my-4">
      <h5 class="card-title">{{ project.name }}</h5>

      <ul class="d-flex flex-wrap list-unstyled gap-2 mb-2 text-uppercase">
        <li *ngFor="let currentTech of project.technologies">
          <img
            [src]="getImage(currentTech.type)"
            [alt]="currentTech.type"
            class="mr-1"
            style="max-height: 20px;"
          />
        </li>
      </ul>

      <span *ngIf="project.type" class="d-block text-primary mb-3">
        {{ project.type.name }}
      </span>
    </div>
    <div>
      <a [routerLink]="['/projects', project.slug]" class="btn btn-outline-light btn-outline">
        Vai al progetto
      </a>
    </div>
  </div>
</li>